/************************/
/********FORM***********/
.contact {
  display: flex;
  justify-content: center;
}

.contact > div:first-child {
  background-color: navy;
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  /* width: 40%; */
  border-radius: 1rem;
}

.contact h2 {
  font-weight: 600;
}
.form-section {
  /* background-color: brown; */
  /* margin-top: 12rem; */
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: flex-start;
  /* padding: 2rem; */
  /* gap: 1rem; */
  /* width: 40%; */
  border-radius: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

.form-section form label {
  font-size: 1.8rem;
  font-weight: 500;
}

.form-section form input,
.form-section form textarea {
  font-family: "DM Mono", monospace, sans-serif;
  width: 80%;
  padding: 12px 5px;
  font-size: 1.6rem;
  margin: 0 0 2rem 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-section form input:focus,
.form-section form textarea:focus {
  outline: none;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
}

.form-section form input[type="submit"]:hover {
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
}

.form-section form input[type="submit"]:active {
  transform: translateY(1px);
  box-shadow: none;
}

.contact-icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 8.4rem;
  column-gap: 2rem;
  padding: 3.6rem 0 1rem 5rem;
  background-color: blueviolet;
}

.contact-icons ion-icon {
  font-size: 5.4rem;
  color: white;
}
