* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Mono", monospace, sans-serif;
  /* background-color: #16120d; */
  /* background-color: #9a9aff;*/
  /* background-color: #111121; */
  background-color: #0d0d0d;
  padding-bottom: 5rem;
  scroll-behavior: smooth;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

h2 {
  /* color: #fff; */
  color: burlywood;
  font-size: 2.8rem;
  font-weight: 500;
  letter-spacing: 1px;
}

a:link,
a:visited {
  text-decoration: none;
}

.hidden {
  display: none;
}
