/*************************/
/*******Header***********/
.home {
  height: 100vh;
  /* background-color: black; */
  /* background-color: #deb887; */
  /* background-color: #16120d; */
  /* color: #fff; */
  content: "";
  background-image: url("../Images/tianyi-ma-WiONHd_zYI4-unsplash.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: calc(115%);
  width: 100%;
  /* opacity: 0; */
  /* transition: all 1s ease-in;
  transition: all 3s ease-out; */
}

/* .home:hover {
  opacity: 1;
} */

.hero {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  /* margin-left: 5%; */
  width: 100%;
  /* height: 90%; */
  /* background-color: aquamarine; */
}

.hero-content {
  /* padding: 2rem; */
  /* background-color: pink; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.hero p {
  text-align: center;
  font-size: 2rem;
  /* text-align: center; */
  margin-top: 4%;
  color: #e7e7e7;
}

.hero p span {
  /* display: block; */
  font-family: "Noto Sans Display", sans-serif;
  font-size: 4.2rem;
  font-weight: 600;
  color: burlywood;
}

header {
  height: 10%;
  /* background-color: aqua; */
  display: flex;
  justify-content: flex-end;
  padding: 0 4rem;
  align-items: center;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: flex-end;
  /* background-color: purple; */
  margin-top: 2rem;
  width: 100%;
  gap: 2rem;
}

nav ul {
  display: flex;
  list-style: none;
  /* background-color: brown; */
  gap: 4rem;
  justify-content: flex-end;
  align-items: center;
}
nav ul a {
  font-family: "DM Mono", monospace, sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: #e7e7e7;
  letter-spacing: 1px;
}

nav ul a:hover,
nav ul a:active {
  color: #deb887;
}

a .btn {
  font-family: "DM Mono", monospace, sans-serif;
  padding: 1rem 2.5rem;
  background: none;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 0px 2px #e7e7e7ff;
  transition: all 0.2s;
  cursor: pointer;
  letter-spacing: 0.5px;
  color: #e7e7e7;
}

.btn:hover,
a .btn-hire:hover {
  background-color: #deb887;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0);
  color: #111121;
}

a .btn-hire:active,
.btn:active {
  transform: translateY(1px);
}

.btn-hire,
.btn-resume {
  margin-top: 2rem;
  margin-right: 2rem;
}

/* ***Sticky Navigationn***/
.sticky header {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 6rem;
  padding-top: 0;
  padding-bottom: 2rem;
  background-color: #0d0d0d8f;
  z-index: 100;
  justify-content: flex-end;
  backdrop-filter: blur(1px);
  /* box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0.03); */
}

.sticker .hero {
  margin-top: 4rem;
}

header div ion-icon {
  color: #fff;
  margin-top: -1rem;
  cursor: pointer;
  transition: all 0.3s;
}

header div ion-icon:hover {
  color: burlywood;
}
