/*******************/
/****Portfolio*****/

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

.portfolio h2 {
  margin-bottom: 2rem;
}

.portfolio h3 {
  color: #6e6e6e;
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 500;
}
.works {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 0 2rem;
}

.works .work {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  height: 30rem;
  width: 25rem;
  border-radius: 1rem;
  padding: 1rem;
  transition: all 0.5s;
  box-shadow: 0 0px 0px 0.5px rgba(0, 0, 0, 1);
}

.work-title {
  display: flex;
  gap: 1rem;
  color: #6e6e6e;
  align-items: center;
  margin-bottom: 2rem;
}

.work ion-icon {
  color: #6e6e6e;
  transition: all 0.3s;
}

.work p {
  font-size: 1.6rem;
  padding: 5px 1rem;
  color: #cfcfcf;
  line-height: 1.5;
}

.work:hover {
  border: 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.521);
  color: burlywood;
}

.work .checkout {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 1.6rem;
  font-family: "DM Mono", monospace, sans-serif;
}

.work .checkout span {
  visibility: hidden;
  color: #6e6e6e;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.work:hover h3,
.work:hover ion-icon,
.work:hover .checkout span {
  color: burlywood;
}

.work:hover .checkout span {
  visibility: visible;
}

.checkout span:hover {
  transform: scale(1.1);
}

.work .checkout:hover .checkout-icon {
  transform: scale(1.1);
}
