/****************************
        BELOW 1050px
******************************/
@media screen and (max-width: 66rem) {
  html {
    font-size: 55%;
  }
  .about p {
    font-size: 1.8rem;
  }
}
/* 56667246 */
/****************************
        BELOW 950px for Phones
******************************/
@media screen and (max-width: 60rem) {
  .cta-btn {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .btn-resume,
  .btn-hire {
    display: inline-block;
  }

  nav ul {
    display: none;
  }
  .hero-content {
    margin-top: 2rem;
  }

  .hidden {
    display: block;
  }
}

/****************************
        BELOW 880px
******************************/
@media screen and (max-width: 55rem) {
  .cta-btn {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  a .btn-resume,
  a .btn-hire {
    display: inline-block;
    font-weight: 600;
    font-size: 2.4rem;
  }

  .hero p span {
    font-size: 4.6rem;
  }
}

/****************************
        BELOW 740px
******************************/
@media screen and (max-width: 46rem) {
  .works {
    grid-template-columns: repeat(2, 1fr);
  }
}

/****************************
        BELOW 680px
******************************/
@media screen and (max-width: 43rem) {
  .icons ion-icon {
    font-size: 1rem;
  }

  .hero-content {
    margin-top: 8%;
  }
}

/****************************
        BELOW 630px
******************************/
@media screen and (max-width: 40rem) {
  .about {
    padding: 0 6rem;
  }
}

/****************************
        BELOW 540px
******************************/
@media screen and (max-width: 34rem) {
  .icons {
    width: 70%;
  }

  .hero p span {
    font-size: 3.6rem;
  }
}

/****************************
BELOW 490px
******************************/
@media screen and (max-width: 31rem) {
  .works {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .works .work {
    height: 50rem;
    width: 80vw;
    padding: 2rem 4rem;
  }

  .work .work-title h3 {
    font-size: 2.8rem;
    margin-left: 1rem;
  }
  .works .work p {
    font-size: 2rem;
  }
}

/****************************
BELOW 430px
******************************/
@media screen and (max-width: 28rem) {
  .icons {
    width: 100%;
  }

  .cta-btn {
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
  }
}

/****************************
        BELOW 415px
******************************/
@media screen and (max-width: 26rem) {
  .hero {
    margin-top: 0rem;
  }

  .work .work-title h3 {
    font-size: 2rem;
    margin-left: 1rem;
  }
  .works .work p {
    font-size: 1.6rem;
  }
  .hero p span {
    font-size: 3rem;
  }
}

/****************************
BELOW 350px
******************************/
@media screen and (max-width: 22rem) {
  .hero p span {
    font-size: 2.6rem;
  }

  .about p {
    font-size: 1.6rem;
  }

  .icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 2rem;
  }
}

/****************************
BELOW 280px
******************************/
@media screen and (max-width: 18rem) {
  .hero p span {
    font-size: 2.4rem;
  }
}

/****************************
BELOW 270px
******************************/
@media screen and (max-width: 17rem) {
  .hero p span {
    font-size: 2rem;
  }
}

/****************************
BELOW 240px
******************************/
@media screen and (max-width: 15rem) {
  .hero-content p span {
    font-size: 2rem;
  }
}
