/****************************
        BELOW 1200px
******************************/
@media screen and (max-width: 66rem) {
  html {
    font-size: 50%;
  }
  .about p {
    font-size: 1.8rem;
  }
}

/****************************
        BELOW 990px
******************************/
@media screen and (max-width: 62rem) {
  .home {
    background-size: calc(130%);
  }
}

/****************************
        BELOW 950px for Phones
******************************/
@media screen and (max-width: 60rem) {
  header {
    /* background-color: blueviolet; */
  }
  nav ul {
    display: none;
  }
  .hero p {
    margin-top: 0;
  }

  .hidden {
    display: block;
  }
}

/****************************
        BELOW 880px
******************************/
@media screen and (max-width: 55rem) {
  .home {
    background-size: calc(140%);
  }
}

/****************************
        BELOW 815px
******************************/
@media screen and (max-width: 51rem) {
  .home {
    background-size: calc(155%);
  }
}

/****************************
        BELOW 740px
******************************/
@media screen and (max-width: 46rem) {
  .home {
    background-size: calc(170%);
  }
}

/****************************
        BELOW 680px
******************************/
@media screen and (max-width: 43rem) {
  html {
    font-size: 45%;
  }
  .home {
    background-size: calc(160%);
  }
  .works {
    grid-template-columns: repeat(2, 1fr);
  }

  .icons ion-icon {
    font-size: 1rem;
  }
}

/****************************
        BELOW 630px
******************************/
@media screen and (max-width: 40rem) {
  .home {
    background-size: calc(190%);
  }
  .about {
    padding: 0 6rem;
  }
}

/****************************
        BELOW 540px
******************************/
@media screen and (max-width: 34rem) {
  .home {
    background-size: calc(240%);
  }
  .hero p {
    margin-top: 7%;
  }
  .icons {
    width: 70%;
  }
}

/****************************
BELOW 430px
******************************/
@media screen and (max-width: 28rem) {
  .home {
    background-size: calc(290%);
  }
  .icons {
    width: 100%;
  }
}

/****************************
        BELOW 415px
******************************/
@media screen and (max-width: 26rem) {
  .works {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
}

/****************************
        BELOW 390px
******************************/
@media screen and (max-width: 24rem) {
  .home {
    background-size: cover;
    height: 90vh;
  }

  .hero {
    margin-top: 0;
  }

  .hero-content {
    width: 100%;
    gap: 30rem;
  }

  .hero p {
    line-height: 1.5;
  }
  .hero p span {
    font-size: 3.6rem;
  }

  .about {
    margin-top: 1.2rem;
  }

  .btn-resume {
    display: inline-block;
  }
}

/****************************
BELOW 350px
******************************/
@media screen and (max-width: 22rem) {
  .hero p span {
    font-size: 3rem;
  }
}

/****************************
BELOW 280px
******************************/
@media screen and (max-width: 18rem) {
  .hero-content {
    gap: 40rem;
  }
  .hero {
    margin-top: 10%;
  }

  .hero p span {
    font-size: 2.4rem;
  }

  .about p {
    font-size: 1.6rem;
  }

  .icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 2rem;
  }
}
